# Sphinx build folder
build

# Virtual environment
*.venv

# Fabric
macro/
runs/

# explicitly allow nextpnr model
!user_designs/fabrics/*/macro/

# Chip
final/
out.def

# Python
*.egg-info/
__pycache__/

# LibreOffice
.~lock*

# cocotb
sim_build/
*.gtkw
