# All I/Os

set_io all[0] X0Y1/A
set_io all[1] X0Y1/B
set_io all[2] X0Y2/A
set_io all[3] X0Y2/B
set_io all[4] X0Y3/A
set_io all[5] X0Y3/B
set_io all[6] X0Y4/A
set_io all[7] X0Y4/B
set_io all[8] X0Y5/A
set_io all[9] X0Y5/B
set_io all[10] X0Y6/A
set_io all[11] X0Y6/B

set_io all[12] X9Y1/A
set_io all[13] X9Y1/B
set_io all[14] X9Y2/A
set_io all[15] X9Y2/B
set_io all[16] X9Y3/A
set_io all[17] X9Y3/B
set_io all[18] X9Y4/A
set_io all[19] X9Y4/B
set_io all[20] X9Y5/A
set_io all[21] X9Y5/B
set_io all[22] X9Y6/A
set_io all[23] X9Y6/B

# For general tests

set_io clk1 X0Y1/A
set_io clk2 X0Y1/B
set_io ena  X0Y2/A
set_io rst  X0Y2/B

set_io a[0] X0Y3/A
set_io a[1] X0Y3/B
set_io a[2] X0Y4/A
set_io a[3] X0Y4/B

set_io a[4] X0Y5/A
set_io b[0] X0Y5/B
set_io b[1] X0Y6/A
set_io b[2] X0Y6/B

set_io b[3] X9Y1/A
set_io b[4] X9Y1/B
set_io c[0] X9Y2/A
set_io c[1] X9Y2/B
set_io c[2] X9Y3/A
set_io c[3] X9Y3/B
set_io c[4] X9Y4/A
set_io c[5] X9Y4/B
set_io c[6] X9Y5/A
set_io c[7] X9Y5/B

# For the macc_8x8_20 test

set_io product[0] X9Y2/A
set_io product[1] X9Y2/B
set_io product[2] X9Y3/A
set_io product[3] X9Y3/B
set_io product[4] X9Y4/A
set_io product[5] X9Y4/B
set_io product[6] X9Y5/A
set_io product[7] X9Y5/B
set_io product[8] X9Y6/A
set_io product[9] X9Y6/B
